{% extends "base.html" %}
{% block title %}SonicMood - AI Music Sentiment Analyzer{% endblock %}
{% block content %}
<h1>Enter a Song</h1>
    <form action="/analyze" method="post">
        <label for="song_title">Song Title:</label><br>
        <input type="text" id="song_title" name="song_title" required><br>

        <label for="artist_name">Artist Name:</label><br>
        <input type="text" id="artist_name" name="artist_name" required><br>

        <input type="submit" value="Analyze Song">
    </form>
{% endblock %}
